body {
	background-color: #f5f6f7;
}

body {
	overflow: hidden;
}

.hezi {
	overflow-y: scroll;
	width: 100%;
	/*				height: 35rem;*/
}

.border-b {
	border-bottom: .05rem solid #E0E0E0;
}

.fixed-top {
	position: fixed;
	width: 100%;
	background: #f5f6f7;
	z-index: 1314;
	top: 0;
}

.fixed-top {
	position: fixed;
	width: 100%;
}


.bigger {
	height: 3rem!important;
}

.bigger-tit {
	font-size: .85rem!important;
}

.bigger-img {
	width: 1.3rem!important;
	height: 1.3rem!important;
}

.top {
	width: 100%;
	height: 2.25rem;
	background: #fff;
}

.top img {
	width: 1.05rem;
	height: 1.1rem;
	margin-left: .75rem;
	float: left;
}

.top .arrow-bottom {
	width: .7rem;
	height: .5rem;
	margin-left: .6rem;
}

.top .arrow-right {
	width: .5rem;
	height: .7rem;
	margin-left: .75rem;
}

.top p {
	width: 13rem;
	height: 2.5rem;
	margin-left: .85rem;
	font-size: .75rem;
	float: left;
	color: #333;
	line-height: 2.5rem;
}

.shidl {
	width: 100%;
	height: 3rem;
	margin-left: .75rem;
	font-size: .875rem;
	color: #666;
}

.bottom {
	width: 16.5rem;
	height: 7rem;
	margin-top: .75rem;
	margin-left: .75rem;
	border-radius: .3rem;
	background: #fff;
	float: left;
}


/*.bottom:first-child {
	margin-top: .0rem;
}*/

/*.bottom:first-child {
	margin-top: 0;
}*/


.bottom:last-child {
	margin-bottom: .75rem;
}

.bot-left {
	height: 7rem;
	width: 5.5rem;
	position: relative;
}

.bot-left img {
	width: 4rem;
	height: 4rem;
}

.bot-right {
	width: 10rem;
	height: 7rem;
	margin-left: .5rem;
}

.bot-right li {
	width: 10.5rem;
	line-height: 1.5;
}

.li-one:after,
.li-two:after,
.li-three:after,
.li-four:after {
	display: block;
	clear: both;
	content: "";
	visibility: hidden;
	height: 0
}

.bot-right li {
	zoom: 1
}

.li-one {
	margin-top: .8rem;
	font-size: .8rem;
	color: #333;
}

.li-two {
	margin-top: .25rem;
	font-size: .75rem;
	color: #333;
}

.li_tp {
	float: left;
	font-size: .8rem;
}

.li-three {
	margin-top: .25rem;
	font-size: .625rem;
}

.li-three p {
	float: left;
}

.li-three p:nth-child(2) {
	margin-left: .4rem;
}


.li-four {
	margin-top: .25rem;
	font-size: .625rem;
}

.li-four p {
	/*float: left;*/
	line-height: 1.3;
}

.ee,
.ff {
	position: absolute;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	/* IE 9 */
	-moz-transform: translate(-50%, -50%);
	/* Firefox */
	-webkit-transform: translate(-50%, -50%);
	/* Safari 和 Chrome */
	top: 50%;
	left: 50%;
	text-align: center;
}

.ff p {
	font-size: .6rem;
	margin-top: .5rem;
	width: 5.4rem;
}

.ee p {
	font-size: .65rem;
	margin-top: .5rem;
	width: 5.4rem;
}

.cc {
	line-height: 1.5;
}

.dd p {
	padding-right: 1rem;
}

.index-hr {
	width: 1.5rem;
	height: .05rem;
	background: #333;
	border: none;
	margin: 0;
	margin-right: .3rem;
}

.hezi {
	background-color: #f5f6f7;
	/*margin-top: 9.05rem;*/
	margin-top: 7.55rem;
}

.button1 {
	width: 16.5rem;
	height: 2.375rem;
	font-size: .875rem;
	text-align: center;
	line-height: 2.375rem;
	background: #29a1f7;
	margin-top: 1.5rem;
	color: #fff;
	border-radius: .3rem;
	margin-left: .75rem;
	margin-bottom: .75rem;
}

.nothin {
	width: 16.5rem;
	height: 2.375rem;
	font-size: 1rem;
	text-align: center;
	line-height: 2.375rem;
	background: #fff;
	margin-top: .75rem;
	color: #333;
	border-radius: .3rem;
	margin-left: .75rem;
	margin-bottom: .75rem;
	outline: none;
}