.bodyBg {
	background-color: #EFEFEF;
}

.extractBox {
	width: 100%;
	height: 7.5rem;
	background: #2b9ced;
}

.extractBox .moneyBox {
	width: 100%;
	height: 100%;
	padding: 0 0.75rem;
	box-sizing: border-box;
}

.extractBox .moneyBox .extractMoney {
	width: 100%;
	height: 5.5rem;
	border-bottom: 1px solid #a2d4f7;
	box-sizing: border-box;
}

.extractBox .moneyBox .extractMoney .money {
	width: 70%;
	height: 100%;
	float: left;
}

.extractBox .moneyBox .extractMoney .money p {
	margin-top: 1rem;
	color: #fff;
	font-size: 0.65rem;
}

.extractBox .moneyBox .extractMoney .money div {
	margin-top: 1rem;
	display: block;
	color: #fff;
	font-size: 1.15rem;
}

.extractBox .moneyBox .extractMoney .money div span {
	font-size: 0.65rem;
	font-weight: 500;
}

.extractBox .moneyBox .extractMoney .extract-but {
	width: 30%;
	height: 100%;
	float: left;
	color: #fff;
	text-align: right;
	line-height: 5.5rem;
}

.extractBox .moneyBox .extractMoney .extract-but button {
	font-size: 0.65rem;
	border: 1px solid #fff;
	padding: 0.35rem 0.5rem;
	border-radius: 1rem;
	background: transparent;
	outline: none;
}

.extractBox .moneyBox .account {
	width: 100%;
	height: 2rem;
}

.extractBox .moneyBox .account div {
	color: #e0edfb;
	font-size: 0.65rem;
	line-height: 2rem;
}

.extractBox .moneyBox .account .accountMoney {
	color: #fff;
	font-size: 0.75rem;
}

.platform-list {
	width: 100%;
	height: auto;
	margin-top: 0.75rem;
	padding: 0 0.75rem;
	background: #fff;
}

.platform-list li {
	width: 100%;
	height: 2.4rem;
	border-top: 1px solid #e0e0e0;
}

.platform-list li:first-child {
	border-top: 0;
}

.platform-list li div {
	float: left;
	line-height: 2.4rem;
}

.platform-list li div:last-child {
	float: right;
}

.platform-list li .list-icon {
	width: 1rem;
	height: 100%;
}

.platform-list li .list-icon img {
	width: 1rem;
	height: 1rem;
}

.platform-list li .list-title {
	width: 12rem;
	height: 100%;
	font-size: 0.7rem;
	color: #333;
	padding-left: 0.8rem;
	box-sizing: border-box;
}

.platform-list li .list-arrow {
	width: 0.35rem;
	height: 100%;
	font-size: 0.6rem;
	color: #999;
}


/*立即提取和修改分公司密码module*/

.remove_mr {
	margin: 0;
}

.remove_padd {
	padding: 0;
}

.password_con {
	padding: 0 .75rem;
}

.password_con .password_tit {
	border: 0;
	padding: 0;
}

.password_con .password_tit h4 {
	font-size: .75rem;
	color: #333;
	padding-top: 1.25rem;
	margin-bottom: 1.3rem;
}

.password_con .password_body {
	padding: 0;
	font-size: .7rem;
	color: #666;
}

.password_con .password_body ul li {
	line-height: 2.05rem;
	height: 2.05rem;
	border-bottom: 1px solid #E0E0E0;
}

.password_con .password_body .password_input{
	width: 65%;
	height: 100%;
	display: inline-block;
}

.password_con .password_body .password_input input {
	padding-left: 0.5rem;
	border: none;
	outline: none;
	font-size: .7rem;
}

.password_con .password_footer {
	padding: 1.25rem 0 1rem;
}

.password_con .password_footer .footer_btn {
	height: 2.2rem;
	line-height: 2.2rem;
	box-sizing: border-box;
}

.password_con .password_footer .footer_btn:first-child {
	transform: translateX(-3%);
	-ms-transform: translateX(-3%);
	-moz-transform: translateX(-3%);
	-webkit-transform: translateX(-3%);
	-o-transform: translateX(-3%);
}

.password_con .password_footer .footer_btn:last-child {
	transform: translateX(3%);
	-ms-transform: translateX(3%);
	-moz-transform: translateX(3%);
	-webkit-transform: translateX(3%);
	-o-transform: translateX(3%);
}

.password_con .password_footer .footer_btn button {
	height: 100%;
	width: 100%;
	font-size: 0.75rem;
}

.password_con .password_footer .footer_btn:first-child button {
	color: #333;
	border: 1px solid #D8D8D8;
	background: #F5F6F7;
	outline: none;
}

.password_con .password_footer .footer_btn:last-child button {
	color: #fff;
	border: 1px solid #268AD1;
	background: #2B9CED;
	outline: none;
}


/*支付弹框*/

.zwl-h1 {
	height: 1rem;
	line-height: 1rem;
	font-size: 0.8rem;
	text-align: center;
	color: #333;
	position: relative;
}

.quxiao {
	position: absolute;
	right: .5rem;
	width: .8rem;
	height: .8rem;
}

.zwl-m {
	font-size: 1.5rem;
	color: #333;
	text-align: center;
	height: 3rem;
	line-height: 3rem;
	padding-top: .5rem;
}

.zwl-box {
	width: 15rem;
	height: 11rem;
	position: absolute;
	background: #fff;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	text-align: center;
	z-index: 99999;
}

.zwl-box #ipt {
	margin: 0;
	padding: 0;
	width: 1px;
	opacity: 0;
	height: 1px;
	border: none;
	outline: none;
	text-indent: -9999em; 
    margin-left: -1000%;
}


.zwl-box label {
	display: block;
}

.zwl-box ul {
	border: 1px solid #c8c8c8;
	font-size: 0;
	display: inline-block;
	position: relative;
	font-size: 0;
}

.zwl-box ul li {
	display: inline-block;
	width: 2rem;
	height: 2rem;
	font-size: .75rem;
	font-weight: 700;
	text-align: center;
	line-height: 2rem;
	border-left: 1px solid #e6e6e6;
	vertical-align: middle;
	overflow: hidden;
}

.zwl-box ul li:first-child {
	border-left: none;
}

.zwl-box .zwl-a {
	width: 7.25rem;
	height: 2.2rem;
	padding: 0 20px;
	border-radius: 8px;
	background-color: #2b9ced;
	color: #fff;
	font-size: .75rem;
	line-height: 2.2rem;
	text-align: center;
	display: inline-block;
	outline: 0 none;
	text-decoration: none;
}

.zwl-a.open-btn {
	border: 2px solid #2b9ced;
	background-color: #2b9ced;
	color: #fff;
}

.zwl-a.close-btn {
	border: 2px solid #b6b6b6;
	background-color: #ffffff;
	color: #999;
}

.zwl-show {
	padding: 20px;
}

em {
	font-style: normal;
	color: #ff6600
}

.zwl-box ul {
	margin: 0!important;
}

label {
	margin: 0!important;
}

#pay_close {
	width: 1rem;
	height: 1rem;
}

.pay_close {
	position: absolute;
	right: 0.3rem;
	top: 0.3rem;
}