.bodyBg {
	background-color: #EFEFEF;
}

.switchBox {
	width: 100%;
	height: auto;
	padding: 0.28rem 0.3rem 0.3rem;
	box-sizing: border-box;
}

.switchBox .switchContent {
	border-radius: 0.08rem;
	background: #fff;
	padding: 0.4rem 0.4rem 0;
}

.switchBox .switchContent .dqjl,
.switchBox .switchContent .qhjl {
	font-size: 0.28rem;
	color: #333;
}

.switchBox .switchContent .dqjl_result,
.switchBox .switchContent .qhjl_result {
	font-size: 0.34rem;
	color: #2b9ced;
	/*text-align: center;*/
	padding: 0.52rem 0 0.56rem;
/*	position: relative;*/
	margin-left: 2.2rem;
}
.switchBox .switchContent .qhjl_result span{
	display: block;
	height: 100%;
	/*width: 100%;*/
}
.switchBox .switchContent .qhjl_result img {
	vertical-align:middle!important;
	width: 0.26rem;
	height: 0.26rem;
	/*position: absolute;*/
	/*top: 0;
	bottom: 0;*/
	margin-left: .5rem;
	/*margin: auto;*/
}

.lastSwitch {
	text-align: center;
	font-size: 0.24rem;
	color: #999;
}

.warmPromptBox {
	padding: 0.9rem 0.5rem 0;
}

.warmPromptBox .warmPrompt {
	font-size: 0.26rem;
	color: #333;
	margin-bottom: 0.24rem;
}

.warmPromptBox .warmPrompt_text {
	font-size: 0.24rem;
	color: #999;
	line-height: 0.34rem;
}

.warmPromptBox .warmPrompt_text .vital {
	color: #FF0000;
}


/*footer*/

footer {
	width: 100%;
	background: #EFEFEF;
}
.fixed-bottom {
	position: fixed;
	right: 0;
	left: 0;
	z-index: 523;
	bottom: 0;
	text-align: center;
}
.btn-common {
	border: 0;
	color: #FFFFFF;
	font-size: 0.32rem;
	width: 6.6rem;
	height: 1rem;
	border-radius: .12rem;
	outline: none;
	background-color: #2B9CED;
	margin: 0.4rem 0;
	
}

