.bodyBg{
	background-color: #EFEFEF;
	line-height: 1;
}
.hytc-header{
	height: auto;
	width: 100%;
	background: #ff7f29;
	padding: 0 .75rem;
}
.hytc-header .jl-points{
	height: 100%;
	width: 100%;
	border-bottom: 1px solid #fff;
}
.hytc-header .jl-points .jl-num{
	font-size: 1.5rem;
	color: #fff;
	text-align: center;
	padding-top: 1.5rem;
	font-weight: 500;
}
.hytc-header .jl-points .jljf{
	font-size: 0.7rem;
	color: #EFEFEF;
	text-align: center;
	margin:0.5rem 0 0.825rem;
}
.hytc-header .jf-list{
	height: auto;
	width: 100%;
	overflow: hidden;
}
.hytc-header .jf-list>div{
	height: 100%;
	width: 50%;
	float: left;
	position: relative;
}
.hytc-header .jf-list .wj-points{
	font-size: 0.95rem;
	color: #fff;
	margin-top: 0.625rem;
	text-align: center;
}
.hytc-header .jf-list .line{
	height: 1.325rem;
	width: 1px;
	background: #F5F5F5;
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	-ms-transform:translateY(-50%);
	-moz-transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
	-o-transform:translateY(-50%);
}
.hytc-header .jf-list>div p{
	font-size: 0.7rem;
	color: #EFEFEF;
	margin: 0.5rem 0;
	text-align: center;
}
.card-list{
	margin-top: 0.5rem;
}
.card-list li{
	background: #fff;
	height: 3rem;
	width: 100%;
	border-bottom: 1px solid #f5f6f7;
	padding: 0 0.75rem;
}
.card-list li:last-child{
	border: 0;
}
.card-list li>div{
	float: left;
}
.card-list li .list-time{
	width: 36%;
	height: 100%;
}
.card-list li .list-time p:first-child{
	font-size: 0.75rem;
	color: #555;
	margin-top: 0.85rem;
}
.card-list li .list-time p:last-child{
	font-size: 0.6rem;
	color: #555;
	margin-top: 0.325rem;
}
.card-list li .card{
	width: 37.5%;
	height: 100%;
	font-size:0.75rem;
	color: #333;
	line-height: 3rem;
}
.card-list li .card-num{
	width: 26.5%;
	height: 100%;
	font-size:0.6rem;
	color: #555;
	line-height: 3rem;
}
.card-list li .card-num span{
	margin-left: 0.5rem;
}

.nothing{
	font-size: .75rem;
	text-align: center;
	color: #333;
	height:2rem;
	line-height: 2rem;
	margin-top: .75rem;
	background-color: white;
	margin-bottom: .75rem;
}