@font-face
{
font-family: PingFang-SC-Bold;
src: url("../font/pingfang.ttf"),
}
/**
 * 已处理
 */
.admiContent{
	width: 7.2rem;
	margin: 0 auto;
}
.admiContentList{
	width: 7.2rem;
	margin: 0 auto;
	display: none;
}
.admiContentListB{
	width: 7.2rem;
	margin: 0 auto;
	display: block;
}
.admiContent .admiContent-header{
	width: 7.2rem;
	height: 0.7rem;
	background-color: #06c1ae;
	margin-bottom: 0.26rem;
}
.admiContent .admiContent-header .admiContent-headerS{
	width: 6.35rem;
	height: 0.7rem;
	margin: 0 auto;
}
.admiContent .admiContent-header .admiContent-headerS li{
	width: 50%;
	height: 0.7rem;
	box-sizing: border-box;
	color: #fff;
	font-size: 0.32rem;
	float: left;
	text-align: center;
	line-height: 0.7rem;
}
.admiContent .admiContent-header .admiContent-headerS li span{
	width: 1.4rem;
	height: 0.7rem;
	display: inline-block;
	box-sizing: border-box;
	
}
.spanBorder{
	border-bottom: 0.05rem solid #fff;
}
.admiContent-content{
	width: 7.2rem;
	height: 2.85rem;
	background-color: #fff;
	position: relative;
	margin-bottom: 0.1rem;
}
.admiContent-content .admiContent-contentS{
	width: 6.68rem;
	margin: 0 auto;
	height: 1.44rem;
}
.admiContent-content .admiContent-contentS .contentS-h{
	width: 0.9rem;
	padding: 0.23rem 0 0.31rem 0;
	float: left;
}
.admiContent-content .admiContent-contentS .contentS-h1{
	width: 5.55rem;
	padding: 0.23rem 0 0.31rem 0.22rem;
	float: left;
}
.admiContent-content .admiContent-contentS .contentS-h1 .contentS-intro{
	color: #666;
	font-size: 0.32rem;
	width: 3.6rem;
	display: inline-block;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.admiContent-content .admiContent-contentS .contentS-img{
	width: 0.9rem;
	height: 0.9rem;
}
.group{
	width: 100%;
	display: inline-block;
	color: #666;
	font-family:PingFang-SC-Bold ;
	font-weight: bold;
	padding-top: 0.21rem;
	
	
}
.group .groupName{
	font-size: 0.28rem;
}
.group  .groupId{
	font-size: 0.3rem;
	padding-left: 0.2rem;
}
.admiContent-contentM{
	width: 6.35rem;
	margin: 0 auto;
}

.admiContent-contentM .Res{
	color: #999;
	font-size: 0.26rem;
}
.admiContent-contentM .ResLo{
	color: #666;
	font-size: 0.28rem;
	padding-left: 0.2rem;
}
.appealRes{
	padding-bottom: 0.26rem;
}
.admiContent-contentM .result{
	
	font-size: 0.36rem;
	text-align: right;
}
.resultCol0b96de{
	color:#0b96de;
}
.resultColf0415a{
	color:#f0415a;
}
/**
 * 未处理
 */
.floTuB{
	position: absolute;
	background-color: #8a94ff;
	width: 1.2rem;
	height: 1.2rem;
	line-height: 1.2rem;
	color: #fff;
	text-align: center;
	font-size: 0.3rem;
	border-radius: 1rem;
	z-index: 111;
	right: 0.5rem;
	top: 1.2rem;
	box-shadow:0px 3px 15px #8a94ff ;
}

/**
 * 拒绝详情
 */
.reject{
	width: 7.2rem;
	margin: 0 auto;
}
.reject-header{
	width: 7.2rem;
	background-color: #fff;
}
.reject-header .rejectName{
	width: 6.66rem;
	margin: 0 auto;
	color: #666;
	font-size: 0.28rem;
	padding: 0.25rem 0rem 0.26rem 0rem;
	border-bottom: 1px solid #cfcfcf;
	
}
.reject-header .rejectReson{
	font-size: 0.26rem;
	color: #333;
	padding: 0.24rem 0.3rem 0.59rem 0.27rem;
	line-height: 0.35rem;
}
.reject-header .rejectReson1{
	font-size: 0.28rem;
	color: #06c1ae;
	padding: 0.24rem 0.3rem 0.29rem 0.27rem;
	line-height: 0.35rem;
	display: none;
}
.rejectContent{
	width: 7.2rem;
	background-color: #fff;
	margin-top: 0.3rem;
}
.rejectP{
	width: 6.7rem;
	height: 1.3rem;
	margin: 0 auto;
	border-bottom: 1px solid #CFCFCF;
	
}
.rejectP p{
	padding-top: 0.25rem;
}
.rejectP .namep{
	color: #999;
	font-size: 0.26rem;
}
.rejectP .nameD{
	color: #666;
	font-size: 0.28rem;
	padding-left: 0.2rem;
}
.rejectDetail{
	width: 6.7rem;
	margin: 0 auto;
}
.rejectDetail p{
	text-align: center;
	font-size: 0.3rem;
	color: #06c1ae;
	padding-top: 0.32rem;
	padding-bottom: 0.38rem;
}
.rejectDetail .rejectWord{
	color: #333;
	font-size: 0.24rem;
	line-height: 0.38rem;
	text-indent: 0.4rem;
	padding-bottom: 0.36rem;
	min-height: 2.4rem;
}
.resonBotton{
	width: 7.2rem;
	margin: 0 auto;
	padding-top: 0.7rem;
}
.resonBotton span{
	width: 2.86rem;
	height: 0.9rem;
	line-height: 0.9rem;
	text-align: center;
	font-size: 0.36rem;
	display: inline-block;
	background-color: #06c1ae;
	color: #FFFFFF;
	border-radius: 0.1rem;
	-webkit-border-radius:0.1rem;
	
}
.marLeft44{
	margin-left: 0.44rem;
}
.marLeft60{
	margin-left: 0.6rem;
}
