.publicPage{
	width: 7.2rem;
	margin: 0 auto;
}
.publicPage .word{
	width: 7rem;
	height: 3.24rem;
	margin: 0.2rem 0.1rem 0 0.1rem;
	
}
.word p{
	background-color: #fff;
	text-align: right;
	color: #333;
	font-size: 0.28rem;
	padding: 0 0.2rem 0.2rem 0;
}
.publicPage textarea{
	width: 6.8rem;
	height: 2.9rem;
	border: none;
	resize : none;
	color: #333;
	font-size: 0.3rem;
	padding-top: 0.2rem;
	padding-left: 0.2rem;
	line-height: 0.35rem;
}
input,button,select,textarea{outline:none}
.buttom{
	width: 6.66rem;
	height: 0.9rem;
	line-height: 0.9rem;
	text-align: center;
	font-size: 0.32rem;
	background-color: #06c1ae;
	color: #fff;
	
	border-radius: 0.1rem;
	-webkit-border-radius: 0.1rem;
	position: fixed;
	bottom: 1rem;
	left: 50%;
	margin-left: -3.33rem;
}
