
.layui-layer-diy[type=page].w16 {
	width: 6.4rem;
	border-radius: .15rem;
}

.layui-layer-diy[type=page].w12 {
	min-width: 4.8rem;
	border-radius: .15rem;
}

.layui-layer-diy[type=page].w14 {
	min-width: 5.6rem;
	border-radius: .15rem;
}

.layui-layer-diy[type=page].w51 {
	width: 5.1rem;
	border-radius: .15rem;
}

.layui-layer-diy[type=page].w56 {
	width: 5.6rem;
	border-radius: .15rem;
}


.layui-layer-diy .layui-layer-title {
    height: .6rem;
    line-height: .6rem;
    font-size: 0.34rem;
    background: #2B9CED;
    color: #fff;
    border: none;
    text-align: center;
    padding: 0;
    border-top-left-radius: .15rem;
    border-top-right-radius: .15rem;
}

.layui-layer-diy .layui-layer-setwin {
	right: .35rem;
    top: .35rem;
	/*right: -1.5rem;
    top: 0.4rem;
    height: 3rem;
    width: 3rem;*/
}
.layui-layer-diy .layui-layer-setwin .layui-layer-close1 {
	background: url(../img/layer-close.png) no-repeat;
    /* background-position: .1rem .1rem; */
    background-size: 100%;
    height: .3rem;
    width: .3rem;
}

.layui-layer-diy .layui-layer-content .lay-main {
	min-height: 1.6rem;
}

.layui-layer-diy .layui-layer-content .lay-main_mrg{
	min-height: 1.3rem;
}

.layui-layer-diy .layui-layer-content .content{
	padding-top:.3rem;
}

.layui-layer-diy .layui-layer-content .msg-img {	
	padding-top: .3rem;
    margin-left: .4rem;
    /*position: absolute;
    float: left;*/
}
.layui-layer-diy .layui-layer-content .msg-img img{
	width:.9rem;
	height:.9rem;
}

.layui-layer-diy .layui-layer-content .msg {
	text-align: center;
    width:2.4rem;
	padding-top: .25rem;
	line-height: 1.5;

}

.layui-layer-diy .layui-layer-content .msg span{
	font-size: .27rem;
    color: #333;
    /*line-height: 1.5;*/
}

  
.layui-layer-diy .layui-layer-content .content span{
	font-size: .28rem;	
	color:#363636;
	line-height: 1.5;
}

.layui-layer-diy .layui-layer-btn {
	padding: .3rem 0;
    text-align: center;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    flex-direction: row-reverse;
    -webkit-flex-direction: row-reverse;
}
.layui-layer-diy .layui-layer-btn a{

	width: 1.6rem;
    height: .6rem;
    line-height: .6rem;
    font-size: .32rem;

    border-radius: .12rem;
 	
}   
    
.layui-layer-diy .layui-layer-btn .layui-layer-btn0{
	color:#fff;
    background: #2B9CED;
    border: 1px solid #2B9CED;

}
	
.layui-layer-diy .layui-layer-btn .layui-layer-btn1{
	color:#333;
	background: #F5F6F7;
    border: 1px solid #D8D8D8;
 
}

.layui-layer-diy.btn-1 .layui-layer-btn .layui-layer-btn0{
	width: 5.6rem;
	height: .8rem;
	line-height: .84rem;
	text-align: center;
	color: #333333;
	margin: .2rem auto;
	border: .02rem solid #d8d8d8;
	background-color: #f5f6f7;
	display: block;
}

.layui-layer-diy.btn-1 .layui-layer-btn .layui-layer-btn1{
	width: 5.6rem;
	height: .8rem;
	line-height: .84rem;
	text-align: center;
	color: #FFFFFF;
	margin: 0rem auto;
	border: .02rem solid #268AD1;
	background-color: #2B9CED;
	display: block;
}
.layui-layer-diy.btn-2 .layui-layer-btn a{
	width: 2rem;
	height: .8rem;
	line-height: .8rem;
	text-align: center;
	border-radius: .08rem;
	font-size: .3rem;
	/*margin: .2rem auto;*/
	
}
.layui-layer-diy.btn-2 .layui-layer-btn .layui-layer-btn0{	
	float: right;
    margin-right: .3rem;
    color: #FFFFFF;
    border: 2px solid #268AD1;
    background-color: #2B9CED;
}

.layui-layer-diy.btn-2 .layui-layer-btn .layui-layer-btn1{
	margin-left: .2rem;
	color: #333333;
	border: 2px solid #d8d8d8;
	background-color: #ffffff;
}

.text-title{
	font-size:.32rem;
	color:#333333;
	margin-top: .5rem;
}

.text-content{
	font-size:.28rem;
	color:#666666;
	margin-top: .4rem;
}


.ticket-title,.customer-title{
	width: 6rem;
    height: 1.2rem;
    margin: 0 auto;
    line-height: 1.2rem;
    text-align: center;
    color: #333;
    font-size: .32rem;
    font-weight: bolder;
    /*border-bottom: 1px solid #e0e0e0;*/
}
.customer-ul{
	min-height: .8rem;
	max-height: 3.2rem;
	overflow-y: scroll;
	overflow-x: hidden;
	/*width:10rem;*/
}

.customer-card {height: 2rem;padding: 0 1.5rem;}
.customer-card span{padding-left: .5rem;display: block;height: 1rem;line-height:1.5 ;}
.customer-card img{width:1rem;height: 1rem;}

.province-list, .ticket-list{ width: 15rem; /*height: 10.5rem;*/ margin:0 auto; overflow: hidden; }
.province-list, .ticket-list ul{ min-height: 2rem; max-height: 8rem; overflow-y: scroll; }

.province-list ul li, .ticket-list ul li{ text-align: center; font-size: .7rem; color: #666; border-bottom: .05rem solid #e0e0e0; }

.ticket-list ul li{ height: 2.5rem; line-height: 2.5rem; }

.province-list ul li{ height: 2.0rem; line-height: 2.0rem; }



.layer-input{
	width: 4rem;
    height: .6rem;
    text-align: center;
    background-color: #eee;
    font-size: .3rem;
    border-radius: .16rem;
    border: none;
    /*margin: 1.5rem 0;*/
}



/*msg*/
.layui-layer-dialog .layui-layer-content{
	font-size:.32rem!important;
	color:#FFFFFF!important;
	
}

.layer-anim {
    -webkit-animation-name: initial!important;
    animation-name: initial!important;
}

.layui-layer-hui {
	background-color: #666!important;
	border-radius: .1rem!important;
	opacity:0.8;
	filter:alpha(opacity=80); /* 针对 IE8 以及更早的版本 */
	position: fixed!important;
	z-index: 1000!important;
}

.layui-layer-hui .layui-layer-content {
    text-align: center;
    height: .8rem!important;
    line-height: .8rem!important;
    padding: 0 .2rem!important;
}

.warn-tips{
	font-size: .32rem;
	margin: .4rem 0;
	color: #363636;
}
.test-tips{line-height: 2em;text-align: center;}


.fgs-password{
	line-height: .6rem;
    height: .6rem;
    width: 4rem;
    padding-left: .15rem;
    margin-top: .2rem;
    outline: none;
    border: none;
    border-bottom: 1px solid #E0E0E0;
    font-size: .3rem;
    text-align: center;
}