* { box-sizing: border-box; }
body{overflow: hidden;}
header{position: fixed; z-index: 1314; top: 0;width: 100%;height:.82rem;}
.live-group { background-color: #f3f3f3; } 
.search { width: 7.2rem; height: .82rem; padding: .11rem .3rem; background-color: #fff; } 
.search-enter { width: 100%; height: 100%; background-color: #f3f3f3; } 
.search-enter img { width: .32rem; height: .32rem; margin-right: .1rem; } 
.search-enter span { font-size: .28rem; color: #999; } 

.main{position: absolute; z-index: 1;margin-top: .82rem;}
.live-container{overflow-y: scroll; width: 100%;}
	
.live-container .live-items { margin-top: .1rem; width: 7.2rem; height: 4.3rem; background-color: #fff; } 
.live-container .live-items:first-child { margin-top: .02rem; } 
.live-items-top { height: 1.24rem; width: 7.2rem; } 
.live-items-left { width: 1.3rem } 
.live-items-right { height: 1.24rem; width: 1.2rem; }
/*.live-items-main {padding:0 .3rem}*/
.live-items-main div:nth-child(2) { margin-top: .25rem } 
.live-avatar img { width: .9rem; height: .9rem; border-radius: .45rem; } 
.live-turn-icon img { width: .36rem; height: .36rem } 
.live-items-main-title span { font-size: .29rem; } 
.live-items-main-owner span { font-size: .25rem; } 
.live-items-main-title span { color: #333; } 
.live-items-main-num, .live-items-main-owner span { color: #666; } 
.live-items-right span { font-size: .22rem; padding: .05rem .07rem; margin-right: .26rem; margin-bottom: .18rem; } 
.type-a { color: #fa9e27; border: 1px solid #fa9e27; } 
.type-b { color: #2b9ced; border: 1px solid #2b9ced; } 
.live-items-bottom{ height: 3.06rem; width: 7.2rem; background-size: 100% 100%!important; }
.live-play { width: 7.2rem; height: 2.3rem; } 
.live-play img { height: 1.52rem; width: 1.52rem; } 
.live-action { height: .76rem; width: 7.2rem; } 
.live-action span { height: .76rem; opacity: .8; background: #7a7c7d; color: #fff; font-size: .28rem; } 
.live-action span:first-child { border-right: 1px solid #fff; opacity: .6;} 
.live-nomre { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); } 
.live-nomre img { width: 1.55rem; height: 2.3rem; }
/*.live-nomre span {margin-top: .38rem;font-size: .32rem;color:#666;}*/