*{box-sizing: border-box;}
body{overflow: hidden;}
header{position: fixed; z-index: 1314; top: 0;width: 100%;height:.82rem;}
.main{position: absolute; z-index: 1;margin-top: .82rem;}

/*公用头部*/
.search{width:7.2rem;height:.82rem;padding: .11rem .3rem;background-color: #fff;}
.search-enter{width:100%;height:100%;background-color: #f3f3f3; }
.search-enter img{ width:.32rem; height: .32rem; margin-right: .1rem; }
.search-enter span{font-size:.28rem;color:#999;}


.chat-group{background-color: #f3f3f3;}
.chat-container{overflow-y: scroll; width: 100%;-webkit-overflow-scrolling: touch;}		
.chat-container .chat-items{margin-top:.1rem;width:7.2rem;height: 1.94rem;background-color: #fff;}
.chat-container .chat-items:first-child{margin-top:.02rem;}
.chat-items-left {width:1.3rem}
.chat-items-right {width:.86rem}
.chat-items-main div{margin-top: .25rem;height: .26rem;line-height: .26rem;}
.chat-items-main div:first-child{margin-top:0;height: .30rem;line-height: .30rem;}
.chat-avatar img{width:.9rem;height: .9rem}
.chat-turn-icon img{width:.36rem;height: .36rem}
.chat-items-main-title span{height:.29rem;font-size: .29rem;}
.chat-items-main-num span{height:.25rem;font-size: .25rem;}
.chat-items-main-owner span{height:.25rem;font-size:.25rem;}
.chat-items-main-title span{color: #333;}
.chat-items-main-num span{font-weight: bolder;}
.chat-items-main-num,.chat-items-main-owner span{color:#666;}			
.chat-nomre {position: absolute;top:50%;left: 50%;transform: translate(-50%,-50%);}
.chat-nomre img{width:1.9rem;height: 2.3rem;}
			

.live-group { background-color: #f3f3f3; } 
.live-container{overflow-y: scroll; width: 100%;-webkit-overflow-scrolling: touch;}	
.live-container .live-items { margin-top: .1rem; width: 7.2rem; height: 4.3rem; background-color: #fff; } 
.live-container .live-items:first-child { margin-top: .02rem; } 
.live-items-top { height: 1.24rem; width: 7.2rem; } 
.live-items-left { width: 1.3rem } 
.live-items-right { height: 1.24rem; width: 1.2rem; }
.live-avatar img { width: .9rem; height: .9rem } 
.live-turn-icon img { width: .36rem; height: .36rem } 
.live-items-main div { margin-top: .25rem;height: .26rem;line-height: .26rem; } 
.live-items-main div:first-child { margin-top:0;height: .30rem;line-height: .30rem; } 
.live-items-main-title span { height:.30rem; font-size: .29rem; } 
.live-items-main-owner span { height:.25rem; font-size: .25rem; } 
.live-items-main-title span { color: #333; } 
.live-items-main-num, .live-items-main-owner span { color: #666; } 
.live-items-right span { font-size: .22rem; padding: .05rem .07rem; margin-right: .26rem; margin-bottom: .18rem; } 
.type-a { color: #fa9e27; border: 1px solid #fa9e27; } 
.type-b { color: #2b9ced; border: 1px solid #2b9ced; } 
.live-items-bottom.type-one { height: 3.06rem; width: 7.2rem; background: url(img/tu2.png) no-repeat; background-size: 100% 100%; } 
.live-items-bottom.type-two { height: 3.06rem; width: 7.2rem; background: url(img/tu1.png) no-repeat; background-size: 100% 100%; } 
.live-items-bottom.type-three { height: 3.06rem; width: 7.2rem; background: url(img/tu3.png) no-repeat; background-size: 100% 100%; } 
.live-items-bottom.type-four { height: 3.06rem; width: 7.2rem; background: url(img/tu4.png) no-repeat; background-size: 100% 100%; } 
.live-play { width: 7.2rem; height: 2.3rem; } 
.live-play img { height: 1.52rem; width: 1.52rem; } 
.live-action { height: .76rem; width: 7.2rem; } 
.live-action span { height: .76rem; opacity: .8; background: #7a7c7d; color: #fff; font-size: .28rem; } 
.live-action span:first-child { border-right: 1px solid #fff; } 
.live-nomre { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); } 
.live-nomre img { width: 1.55rem; height: 2.3rem; }
			

.search-group { background-color: #f3f3f3; }
.search { width: 7.2rem; height: .82rem; padding: .11rem .3rem; background-color: #fff; }
.search-goback img { width: .22rem; height: .38rem; } 
.search-input { position: relative; }
.search-input input { width: 5.08rem; height: .6rem; background-color: #f3f3f3; border: none; outline: none; padding-left: .8rem; font-size: .3rem; /*background: url(img/ic-live-search.png) no-repeat .34rem 50%; background-size: .32rem .32rem;*/ } 
.search-input img { width: .32rem; height: .32rem; position: absolute; left: 5%; top: 50%; transform: translate(-5%, -50%);-webkit-transform: translate(-5%, -50%); } 
.search-click span { font-size: .32rem; color: #2b9ced; } 